.action_links {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: center;
}

.action_links a {
  color: #b1b1b3;
  font-size: 1.25rem;
  margin: 0rem 1rem;
  text-decoration: none;
}

.account_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #b1b1b3;
  font-size: 1.25rem;
  margin: 0rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.wishlistLink,
.cartLink {
  width: 3rem;
  position: relative;
}

.wishlistItemsCount,
.cartItemsCount {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  padding: 2px 2px 6px 2px;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  right: 5px;
  top: -8px;
}

.authentication {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 0, 36, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
  margin-left: 4rem;
  margin-bottom: 0.3rem;
}
