.action_links {
  display: flex;
  justify-content: space-around;
  /* margin-left: 1.2rem; */
}

.action_links a {
  color: #b1b1b3;
  font-size: 1.25rem;
  margin: 0rem 1rem;
}

.action_links .like_btn {
  color: #b1b1b3;
}
