.godfather_section,
.mitchellNess_image {
  width: 100%;
}

.godfather_section,
.mitchellNess_image img {
  width: 100%;
  height: auto;
}

.mitchellNess_image p {
  margin: 3rem 3.5rem;
}

.jordan_shop_section p {
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.shoe_grid {
  width: 100%;
  margin: 0 auto;
  /* max-width: 1170px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
  margin: 0;
}

.shoe_grid img {
  width: 100%;
  height: auto;
}

.afterpay_div {
  font-size: 2.5rem;
  background-color: black;
  padding: 1rem 0rem;
  margin-top: 2rem;
}

.afterpay_div p {
  margin: 0;
}

.afterpay_div a {
  text-decoration: none;
  color: white;
}

.afterpay_div img {
  width: 10rem;
}

.afterpay_div_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.afterpay_div_flex img {
  margin-left: 0.5rem;
}
