#heading {
  font-size: 2.5rem;
}

.trendingItems_div {
  margin: 6rem 0rem 7rem 0rem;
}

.trendingItems_div p {
  text-align: center;
  position: relative;
}

.trendingItems_section_singleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-top: 5rem;
}

.trendingItems_section_singleItem article {
  margin-right: 1rem;
}

.trendingItems_section_singleItem img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.trendingItems_section_singleItem a {
  text-decoration: none;
}

.trendingItem_info {
  display: flex;
  justify-content: space-between;
}

.trendingItem_info p {
  margin: 0;
  text-align: start;
}

.trendingItem_original_price {
  text-decoration: line-through;
}

.trendingItem_price {
  margin-right: 1rem;
  color: black;
  font-size: 0.8rem;
}

.trendingItem_name {
  color: black;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.pale_color_heading {
  color: #867c7c;
  font-size: 0.8rem;
}
