@media (max-width: 1100px) {
  .navbar {
    justify-content: space-between;
    padding: 0rem 5rem;
  }

  .navbar :nth-child(1) {
    order: 2;
  }
  .navbar :nth-child(2) {
    order: 3;
  }
  .navbar :nth-child(3) {
    order: 1;
  }
  .navbar :nth-child(4) {
    order: 4;
  }
}
@media (min-width: 1100px) {
  .navbar {
    justify-content: space-evenly;
  }
}

.logo {
  height: 3rem;
}
.subscribe_para {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.19rem;
  background-color: black;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 0.1rem solid rgb(156, 153, 153);
  background-color: white;
  z-index: 2;
}
