.footer_sec {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
  margin: 0;
  padding: 5rem 4rem 0rem 4rem;
}

.footer_div1 a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.footer_div1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.footer_div1 ul {
  list-style: none;
  padding: 0;
}

.footer_link {
  margin-bottom: 0.65rem;
}

.footer_payment_div {
  margin-left: 3rem;
}

.footer_payment_div p {
  margin: 0;
}

.footer_payment_div img {
  width: 45px;
  height: 30px;
  background-color: white;
  margin: 0rem 0.2rem 2rem 0rem;
  border-radius: 10%;
}

.footer_div2 {
  padding: 0rem 1.5rem;
}

.footer_div3 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
}

.footer_div3 a {
  color: white;
}

/* .footer_socials {
  margin-left: 5rem;
} */

.footer_socials img {
  width: 45px;
  height: 30px;
  background-color: black;
  margin-bottom: 2rem;
  border-radius: 10%;
}

.footer_subheading {
  font-size: 1.5rem;
}
