.adidas_section {
  padding: 0rem 3rem;
}

.adidas_banner {
  margin-top: 3rem;
}

.adidas_banner img {
  width: 100%;
  height: 80vh;
}

.adidas_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 0.5rem;
  /* padding: 0rem 3rem; */
  /* margin-bottom: 3rem; */
}

.adidas_grid,
.grid_items img {
  width: 100%;
}

.btn_div {
  text-align: center;
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 0.9rem;
  border-radius: 2rem;
  text-transform: uppercase;
  border-color: transparent;
  color: white;
  background: #222;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 1.5rem;
}
.btn:hover {
  color: #222;
  background: white;
  border: #222 solid 0.1em;
}
