#heading {
  font-size: 2.5rem;
  margin: 0;
}

.recommend_div p {
  text-align: center;
  position: relative;
}

.recommendedItem_section_singleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-top: 2rem;
}

.recommendedItem_section_singleItem article {
  margin-right: 1rem;
}

.recommendedItem_section_singleItem img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.recommendedItem_section_singleItem a {
  text-decoration: none;
}
.shoe_info {
  display: flex;
  justify-content: space-between;
}

.shoe_info p {
  margin: 0;
  text-align: start;
}

.price {
  margin-right: 1rem;
  color: black;
  font-size: 0.8rem;
}

.shoe_name {
  color: black;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.pale_color_heading {
  color: #867c7c;
  font-size: 0.8rem;
}
